version: '3.9'
services:
  web:
    build: .
    container_name: flask_app
    ports:
      - "5001:5001"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=run.py
    volumes:
      - .:/app
    command: sh -c "flask db upgrade && python3 run.py"