{% extends 'base.html' %}
{% block title %}Início{% endblock %}
{% block content %}
<div class="text-center mt-5">
    <h1>Sistema de Inventário de Patrimônio</h1>
    <p class="lead">Bem-vindo! Escolha uma das funcionalidades abaixo:</p>
    <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a href="/upload" class="btn btn-primary btn-lg">Importar Patrimônio - por PDFs</a>
        <a href="/patrimonios" class="btn btn-secondary btn-lg">Consultar Patrimônios</a>
        <a href="/conferencia_patrimonial" class="btn btn-success btn-lg">Nova Conferência Patrimonial</a>
        <a href="/conferencias_patrimoniais" class="btn btn-outline-success btn-lg">Histórico de Conferências</a>
        <a href="/logs" class="btn btn-info btn-lg">Logs de importação</a>
    </div>
</div>
{% endblock %} 